{% extends 'base.html.twig' %}

{% block title %}Mots index{% endblock %}

{% block body %}
    <h1>Mots index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mot in mots %}
            <tr>
                <td>{{ mot.id }}</td>
                <td>{{ mot.mot }}</td>
                <td>
                    <a href="{{ path('app_mots_show', {'id': mot.id}) }}">show</a>
                    <a href="{{ path('app_mots_edit', {'id': mot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mots_new') }}">Create new</a>
{% endblock %}
