{% extends 'base.html.twig' %}

{% block title %}Mots{% endblock %}

{% block body %}
    <h1>Mots</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mot.id }}</td>
            </tr>
            <tr>
                <th>Mot</th>
                <td>{{ mot.mot }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mots_index') }}">back to list</a>

    <a href="{{ path('app_mots_edit', {'id': mot.id}) }}">edit</a>

    {{ include('mots/_delete_form.html.twig') }}
{% endblock %}
